
<h2 class="text-center sm-4">Add A New Player</h2>

<div class="container col sm-5">
  <div class="form-container">
    
    <form #playerForm="ngForm" (ngSubmit)="addPlayer(playerForm.value)">
      <div class="form-group">
        <label for="playerName">Player Name</label>
        <input type="text" id="playerName" class="form-control" name="playerName" ngModel />
      </div>

      <div class="form-group">
        <label for="jerseyNumber">Jersey Number</label>
        <input type="number" id="jerseyNumber" class="form-control" name="jerseyNumber" ngModel />
      </div>

      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" id="role" class="form-control" name="role" ngModel />
      </div>

      <div class="form-group">
        <label for="totalMatches">Total Matches</label>
        <input type="number" id="totalMatches" class="form-control" name="totalMatches" ngModel />
      </div>

      <div class="form-group">
        <label for="teamName">Team Name</label>
        <input type="text" id="teamName" class="form-control" name="teamName" ngModel />
      </div>

      <div class="form-group">
        <label for="state">Country/State</label>
        <input type="text" id="state" class="form-control" name="state" ngModel />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" name="description" ngModel></textarea>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
      </div>
    </form>
  </div>
</div>