<h1>CrickData: Cricket Team Management System</h1>

<div class="row text-center">
    <div class="col-md-3 mb-3">
      <a routerLink="/display" class="btn btn-primary btn-lg btn-block">Display Players</a>
    </div>
    <div class="col-md-3 mb-3">
      <a routerLink="/add-player" class="btn btn-success btn-lg btn-block">Add Player</a>
    </div>
    <div class="col-md-3 mb-3">
      <a routerLink="/update-player" class="btn btn-warning btn-lg btn-block">Update Player</a>
    </div>
    
  </div>


  <router-outlet></router-outlet>